/node_modules
/public/build
/public/hot
/public/storage
/public/Stisla/node_modules
/public/images/motor
/public/images/accesories
/public/images/spesifikasi
/public/images/tabel
/public/images/judul
/public/data_motor
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/public_html
